In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# load dataframe
pulseData = pd.read_pickle(path="../data/interim/01_PulseHalf.pkl")

In [4]:
pulseData

,id,uId,deviceid,date,itemsArray,loveMax,loveAvg,loveMin
0,14836580556781,1,1,2017-01-05,"[60.0, 54.0, 63.0, 56.0, 62.0]",63,0,None
1,14836580562771,1,1,2017-01-06,"[55.0, 61.0, 51.0, 54.0, 54.0, 56.0, 64.0, 56....",153,0,None
2,14837820065731,1,1,2017-01-07,"[121.0, 91.0, 84.0, 177.0, 52.0, 52.0, 52.0, 8...",177,0,None
3,14838601106411,1,1,2017-01-08,"[58.0, 75.0, 58.0, 59.0, 54.0, 60.0, 62.0, 56....",107,0,None
4,14839282542531,1,1,2017-01-09,"[57.0, 52.0, 58.0, 48.0, 52.0, 59.0, 56.0, 60....",159,0,None
5,14840308512301,1,1,2017-01-10,"[56.0, 55.0, 56.0, 59.0, 58.0, 48.0, 48.0, 52....",134,0,None
6,14841177135551,1,1,2017-01-11,"[63.0, 61.0, 56.0, 52.0, 66.0, 52.0, 56.0, 60....",154,0,None
7,14841837183811,1,1,2017-01-12,"[53.0, 56.0, 67.0, 55.0, 54.0, 54.0, 52.0, 52....",123,0,None
8,14842795767631,1,1,2017-01-13,"[55.0, 49.0, 46.0, 50.0, 44.0, 51.0, 52.0, 74....",103,0,None
9,14843802006901,1,1,2017-01-14,"[53.0, 59.0, 57.0, 57.0, 119.0, 52.0, 52.0, 53...",172,0,None
10,14844540537321,1,1,2017-01-15,"[63.0, 106.0, 56.0, 85.0, 89.0, 63.0, 67.0, 11...",112,0,None
11,14845503855951,1,1,2017-01-16,"[56.0, 56.0, 59.0, 55.0, 56.0, 59.0, 56.0, 61....",142,0,None
12,14846369460441,1,1,2017-01-17,"[52.0, 65.0, 62.0, 65.0, 58.0, 57.0, 54.0, 53....",149,0,None
13,14847085572741,1,1,2017-01-18,"[56.0, 52.0, 54.0, 52.0, 48.0, 89.0, 49.0, 52....",105,0,None
14,14848071355921,1,1,2017-01-19,"[52.0, 64.0, 56.0, 59.0, 60.0, 55.0, 107.0, 59...",166,0,None
15,14849021538191,1,1,2017-01-20,"[54.0, 52.0, 56.0, 48.0, 54.0, 48.0, 52.0, 51....",142,0,None
16,14849562281561,1,1,2017-01-21,"[44.0, 49.0]",49,0,None

In [ ]:
#ToDo: Continue here: Perform linear regression on the data